/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.clearfix::before,
.clearfix::after {
    content: '';
    height: 0;
    width: 0;
    display: table;
    clear: both;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.style_red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut .fl {
    float: left;
}

.shortcut .fr {
    float: right;
}

.shortcut li {
    float: left;
}

.shortcut .fr li:nth-child(even) {
    margin: 9px 15px 0;
    width: 1px;
    height: 12px;
    background-color: #666;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}

/* 头部制作 */
.header {
    position: relative;
    height: 105px;

}

.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.header .logo a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
}

.header .search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.header .search button {
    float: left;
    width: 80px;
    height: 34px;
    background-color: #b1191a;
    color: #ffff;
}

.header .hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.header .hotwords a {
    padding: 0 10px;
}

.header .shopping-cart {
    position: absolute;
    left: 995px;
    top: 25px;
    width: 140px;
    height: 36px;
    border: 1px solid #dfdfdf;
    line-height: 34px;
    text-align: center;
}

.header .shopping-cart::before {
    content: '\e93a';
    margin-right: 5px;
    font-family: 'icomoon';
    color: #b1191a;
}

.header .shopping-cart::after {
    content: '\e920';
    margin-left: 10px;
    font-family: 'icomoon';
}

.header .shopping-cart .count {
    position: absolute;
    top: -10px;
    left: 105px;
    height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
}

nav.nav {
    position: sticky;
    z-index: 99999;
    top: 0;
    height: 47px;
    border-bottom: 2px solid #b1191a;
    background-color: white;
}

nav.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    color: white;
}

nav.nav .dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

nav.nav .dropdown:hover .dd {
    display: block;
}

nav.nav .dropdown .dd {
    display: none;
    width: 210px;
    height: 465px;
    background-color: #c81623;
}

nav.nav .dropdown .dd li {
    position: relative;
    padding-left: 10px;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
}

nav.nav .dropdown .dd li:hover {
    background-color: #fff;
    color: #c81623;
}

nav.nav .dropdown .dd li:hover a {
    color: #c81623;
}

nav.nav .dropdown .dd li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    font-family: 'icomoon';
    content: '\e920';
}


nav.nav .dropdown .dd li a {
    font-size: 14px;
    color: #fff;
}

nav.nav .navitems {
    float: left;
}

nav.nav .navitems li {
    float: left;
}

nav.nav .navitems li a {
    display: block;
    padding: 0 25px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

footer.footer {
    padding-top: 30px;
    height: 415px;
    background-color: #f5f5f5;
}

footer.footer .mod_service {
    height: 80px;
    border-bottom: 1px solid #ededed;
}

footer.footer .mod_service li {
    float: left;
    padding-left: 35px;
    width: 300px;
    height: 50px;
}

footer.footer .mod_service li h5 {
    float: left;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
}

footer.footer .mod_service li .service_txt h4 {
    font-size: 14px;
}

footer.footer .mod_service li .service_txt p {
    font-size: 12px;
}

footer.footer .mod_help {
    padding-top: 20px;
    padding-left: 50px;
    height: 185px;
    border-bottom: 1px solid #ccc;
}

footer.footer .mod_help dl {
    float: left;
    width: 200px;
}

footer.footer .mod_help dl:last-child {
    width: 90px;
    text-align: center;
}

footer.footer .mod_help dt {
    font-size: 16px;
    margin-bottom: 10px;
}

footer.footer .mod_copyright {
    text-align: center;
    padding-top: 20px;
}

footer.footer .mod_copyright .links {
    margin-bottom: 15px;
}

footer.footer .mod_copyright .links ul {
    margin: 0 auto;
    width: 871px;
}

footer.footer .mod_copyright .links li {
    float: left;
}

footer.footer .mod_copyright .links li:nth-child(even) {
    margin: 0 10px;
    width: 1px;
    height: 18px;
    background-color: #ccc;
}

footer.footer .mod_copyright .copyright {
    line-height: 20px;
}